tests/phpunit.xml
phpunit.xml
.php-cs-fixer.cache
.phpunit.result.cache
.php-cs-fixer.cache
/cli-config.php
jackrabbit/
vendor/
composer.lock
/tests/jackrabbit-standalone-*.jar
# Docker related
docker-compose.yml
README.docker.md
# Test related
/tests/phpunit_doctrine_dbal_green.xml
/tests/README_GREEN_TESTS.md
/tests/run_doctrine_dbal_green_tests.sh
/tests/run_doctrine_dbal_tests.sh
# IDE related
.idea/
